language: node_js
node_js:
- "node"

cache: npm

script:
  - npm run lint
  - npm run test:unit
  - npm run build

after_script:
  - cat ./coverage/lcov.info | coveralls

deploy:
provider: pages
skip_cleanup: true
github_token: $GITHUB_TOKEN
local_dir: dist
on:
  branch: master