language: node_js
node_js:
- "node"

cache: npm

script:
  - npm run lint
  - npm run test:unit
  - npm run coveralls
  - npm run build
  - npm run docs:build

deploy:
provider: pages
skip_cleanup: true
github_token: $GITHUB_TOKEN
local_dir: dist
on:
  branch: master